html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*CODE STARTS HERE*/
body {
    display: flex;
}

/*BOARD*/
#battleground {
	width: 1350px;
	padding-top: 30px;
}

#battleground div {
	border:1px solid darkgray;
	width: 47px;
	height: 47px;
	cursor: pointer;
	display: inline-block;
	background-size: contain;
}

.blankSpace {
	background-color: gray;
}

#battleground div  img{
	padding: 0px;
	margin: 0.5px;
	height: 100%;
	width: 100%;
	opacity: 0.5;
}

#battleground div:hover {
/*	background-image: url('images/overhaul.PNG'); */
	background-size: contain;
}

#clickSpace {
	background-color: pink;
	opacity: 70%;
}

.clickSpace {
	background-color: pink;
	opacity: 70%;
}

/*CARDS*/
.stats {
    background-color: gray;
    width: 220px;
    padding: 10px;
    height: 500px;
    margin-top: 150px;
}

.stats h1 {
    background-color: darkgray;
    margin: 6px 0px;
    border-radius: 5px;
    color: rgb(37, 37, 37);
    border-style: ridge;
    border-width: 4px;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
}

.card {
    width: 220px;
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .stats-bars {
    display: flex;
    width: 220px;
    background-color: gray;
  }
  
  .stats-bars div{
    height: 20px;
    width: 5em;
    margin: 0.1em 1px;
    border-radius: 4px;
  }
  
  .emptyHealth {
    background-color: rgb(37, 37, 37);
  }
  
  .fullHealth {
    background-color: gold;
  }

/*CHARACTER SPACE FACES*/
/*Autobots*/
#brainstormSpace {
	background-image: url('images/brainstorm.png');
}

#dunerunnerSpace {
	background-image: url('images/dunerunner.png');
}

#ironhideSpace {
	background-image: url('images/ironhide.png');
}

#landmineSpace {
	background-image: url('images/landmine.png');
}

#overhaulSpace {
	background-image: url('images/overhaul.png');	
}

/*Decepticons*/
#cryofireSpace {
	background-image: url('images/cryofire.png');
}

#hardtopSpace {
	background-image: url('images/hardtop.png');
}

#scorponokSpace {
	background-image: url('images/scorponok.png');
}

#starscreamSpace {
	background-image: url('images/starscream.png');
}

#swindleSpace {
	background-image: url('images/swindle.png');
}

/*Ransacks*/
#crumplezoneSpace {
	background-image: url('images/crumplezone.png');
}

#onslaughtSpace {
	background-image: url('images/onslaught.png');
}

#overcastSpace {
	background-image: url('images/overcast.png');
}

#prowlSpace {
	background-image: url('images/prowl.png');
}

#ransackSpace {
	background-image: url('images/ransack.png');
}

.enemyTarget {
    opacity: 1;
}

.enemyTarget {
    position: relative; /* Ensure the container is positioned */
  }
  
.enemyTarget::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
    background: rgba(255, 64, 89, 0.795); 
    z-index: 5; 
  }

  .enemyTarget:hover::before {
    background-color: rgba(133, 0, 22, 0.877); 
  }





































